.login {
    display: flex;
    background-color: rgb(246, 245, 245);
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100vh;
  }
  

  .lsurfImg {
    display: flex;
    justify-content: center;
    max-width: 70%;
    overflow: hidden;
  }

  .lContainer {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 60%;
  }

  .boardBud {
    font-family: monospace;
    font-weight: 100;
    font-size: 40px;
    color: #115484;
    padding-bottom: 50px;
  }
  
  .lInput{
    height: 30px;
    width: 300px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #115484;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .registerLink {
    font-family: monospace;
  }
